.main-container {
  width: 70%;
  padding: 20px;
  margin: 0 auto 50px;
}

h3 {
  font-weight: 800;
  font-size: 75px;
  text-align: center;
  color: #ffffff;
}

.header {
  background-image: url("../../assets/images/general/bradcam.png");
  background-size: cover;
  padding: 160px 0;
  background-position: bottom;
  background-repeat: no-repeat;
}

.content {
  margin: 20px auto;
  width: 80%;
}

p {
  color: #292929;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 0 !important;
}

.btn-action {
  display: block;
  background-color: #ffffff;
  color: #ff3500;
  width: 40%;
  margin: 30px auto 10px;
  border: 1px solid #ff3500;
  transition: 0.8s;
}

.btn-action:hover {
  color: #ffffff;
  background-color: #ff3500;
}

.for-adoption {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 30px;
}

.card {
  width: 30%;
  margin: 5px;
}

.card-body {
  position: absolute;
  line-height: 0.9;
  top: 0;
  width: 80%;
  min-height: 90px;
  padding: 10px 26px;
  margin: 10px;
  z-index: 20;
  text-align: left;
}

h4 {
  color: #ffffff;
  font-weight: 600;
  text-shadow: 2px 2px 2px #050505;
}

img {
  height: 100%;
  width: 100%;
}

.errorMessage {
  width: fit-content;
  text-align: center;
  margin: 50px auto;
}

/* Media queries */
@media all and (max-width: 1273px) {
  .main-container {
    width: 80%;
  }
}

@media all and (max-width: 1116px) {
  .main-container {
    width: 100%;
  }

  .header {
    padding: 140px 0;
  }
}

@media all and (max-width: 950px) {
  h4 {
    font-size: 1.25rem;
  }
}

@media all and (max-width: 800px) {
  .main-container {
    width: 90%;
  }

  p {
    font-size: 16px;
  }

  .card {
    width: 46%;
  }

  h4 {
    font-size: 1.5rem;
  }

  .header {
    padding: 140px 0;
  }
}

@media all and (max-width: 760px) {
  h3 {
    font-size: 2.5rem;
  }

  .header {
    padding: 100px 0;
  }

  h4 {
    font-size: 1.25rem;
  }
}

@media all and (max-width: 600px) {
  .main-container {
    width: 100%;
    padding: 0;
  }

  .card-body {
    padding: 15px;
  }

  .content {
    margin: 10px;
    width: 100%;
  }

  a {
    font-size: 1rem;
  }

  h4 {
    font-size: 1rem;
  }
}
