<div class="header">
  <h3>About Us</h3>
</div>
<div class="main-container">
  <div class="about-us">
    <div class="content text">
      <h4>Our Mission</h4>
      <p class="first">
        Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed doeiusmod tempor incididunt ut
        labore et doloremagna aliqua. Tellus cras adipiscing enim eu. Lectus vestibulum mattis ullamcorper velit sed.
        Adipiscing vitae
        proin sagittis nisl. In aliquam sem fringilla ut morbi. Suspendisse ultrices gravida dictum fusce ut placerat
        orci nulla pellentesque.
      </p>
    </div>
    <div class="content image">
      <img src="../../assets/images/about/about1.jpg" alt="A dog and a cat holding hearts">
    </div>
  </div>
  <br>
  <div class="about-us second">
    <div class="content image">
      <img src="../../assets/images/about/about2.jpg" alt="Kittens">
    </div>
    <div class="content text">
      <h4>Buy from our store</h4>
      <p>
        Facilisis leo vel fringilla est ullamcorper eget nulla. Nisl rhoncus mattis rhoncus urna neque viverra.
        Vulputate ut pharetra sit amet aliquam id. Scelerisque purus semper eget duis at tellus at urna
        condimentum.
        Eget est lorem ipsum dolor sit amet consectetur adipiscing elit.
      </p>
      <button routerLink="/store" class="btn action">Our Store</button>
    </div>
  </div>
  <br>
  <div class="about-us">
    <div class="content text">
      <h4>Volunteer</h4>
      <p class="third">
        Facilisis leo vel fringilla est ullamcorper eget nulla. Nisl rhoncus mattis rhoncus urna neque viverra.
        Vulputate ut pharetra sit amet aliquam id. Scelerisque purus semper eget duis at tellus at urna
        condimentum.
        Eget est lorem ipsum dolor sit amet consectetur adipiscing elit.
      </p>
      <button routerLink="/contact" class="btn action">Contact Us</button>
    </div>
    <div class="content image">
      <img src="../../assets/images/about/about3.jpg" alt="Pug">
    </div>
  </div>
</div>