<div class="login">
  <h3>Welcome Back!</h3>
<app-spinner *ngIf="isLoading$ | async; else mainContent"></app-spinner>
<ng-template class="main-container" #mainContent>
  <form *ngIf="authForm" [formGroup]="authForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <div class="field-error">
        <span *ngIf="authForm.controls['email'].invalid && (authForm.controls['email'].dirty ||
           authForm.controls['email'].touched)">
          <span class="alert-text" *ngIf="authForm.controls['email'].errors.required">Email is Required</span>
          <span class="alert-text" *ngIf="authForm.controls['email'].errors.email">Invalid Email</span>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <div class="field-error">
        <span *ngIf="authForm.controls['password'].invalid && (authForm.controls['password'].dirty ||
           authForm.controls['password'].touched)">
          <span class="alert-text" *ngIf="authForm.controls['password'].errors.required">Password is
            Required</span>
        </span>
      </div>
    </div>
    <button class="btn btn-action" title="Confirm authentication" type="submit" [disabled]="!authForm.valid">
      Login</button>
  </form>
  </ng-template>
  <div *ngIf="errorMessage$ | async">
    <div class="alert alert-danger" role="alert">
      {{errorMessage$ | async}}
    </div>
  </div>
</div>