h3 {
  font-weight: 800;
  font-size: 75px;
  text-align: center;
  color: #ffffff;
}

.header {
  background-image: url('../../assets/images/general/bradcam.png');
  background-size: cover;
  padding: 160px 0;
  background-position: bottom;
  background-repeat: no-repeat;
}

h2 {
  font-size: 27px;
  font-weight: 600;
  width: 86%;
  margin: 20px auto;
}

h4 {
  margin-bottom: 0;
  font-size: 16px;
  color: #2a2a2a;
}

.contact-container {
  padding: 50px 20px;
}

.contact-options {
  width: 80%;
  margin: 20px auto;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.contact-form {
  width: 70%;
}

.contact-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.contact-icon {
  margin-right: 20px;
}

p {
  color: #8a8a8a;
}

i {
  color: #8f9195;
  font-size: 27px;
  width: 25px;
}

.map {
  margin: 20px auto;
  width: 80%;
}

iframe {
  width: 100%;
}

form {
  width: 85%;
  margin: 15px auto 40px;
}

.form-control {
  border: 1px solid #e5e6e9;
  border-radius: 0px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
}

textarea {
  height: 100% !important;
}

.field-error {
  height: 23px;
  width: 100%;
}

.alert-text {
  color: #dc3545;
  font-size: 0.80rem;
  font-weight: 600;
  padding-left: 14px;
}

.btn-send {
  background-color: #ffffff;
  color: #ff3500;
  width: 40%;
  margin: 30px 0;
  border: 1px solid #ff3500;
  transition: 0.8s;
}

.btn-send:hover {
  color: #ffffff;
  background-color: #ff3500;
}

h5 {
  font-size: 24px;
  font-weight: 600;
  width: fit-content;
  margin: 71px auto;
  padding-left: 14px;
}

/* Media queries */
@media all and (max-width: 1116px) {
  .header {
    padding: 140px 0;
  }

  .contact-options {
    width: 90%;
  }
}

@media all and (max-width: 800px) {
  .contact-options {
    width: 100%;
  }

  .contact {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
  }

  .options {
    width: 90%;
    margin: auto;
  }

  .header {
    padding: 140px 0;
  }
}

@media all and (max-width: 760px) {
  h3 {
    font-size: 2.5rem;
  }

  .header {
    padding: 100px 0;
  }
}
